body{
    background-color: aquamarine;
}

.gray{
    height: 10px;
    width: 10px;
    background-color: bisque;
}

.invisi{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80vw;
    height: 3vh;
}

.Closed{
    background-image: url('resources/index/minesweeper_tilesClosed.png');
}

.Flag{
    background-image: url('resources/index/minesweeper_tilesFlagged.png');
}

.tile{
    background-color: black;
    background-size: contain;
    height: 20px;
    width: 20px;
}

#gameArea{
    display: flex;
    height: fit-content;
    width: fit-content;
    flex-direction: column;
}
